* {
  scroll-behavior: smooth;
}

h1,
h2,
h3 {
  margin: 0;
  padding: 1em 0;
}

p {
  margin: 0;
  padding: 1em 0;
}

.servicesidan-bg {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(/Images/bakgrund.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  height: 100vh;
}

.content-wrap-1 {
  height: 100vh;
  padding-top: 10%;
  color: #fff;
  font-size: 3rem;
  line-height: 1.6;
  text-align: left;
  background-color: rgba(0, 0, 0, 0.699);
  box-shadow: 23px 23px 26px 0px rgba(0, 0, 0, 1);
  padding-bottom: 10vh;
  padding-left: 10%;
  margin-right: 60%;

  h3 ins {
    color: $color-primary;
  }

  ul li {
    list-style: none;
  }
  ul li strong {
    color: $color-primary;
  }
}

.headline {
  font-family: "Roboto", sans-serif;
  font-size: 6rem;
  text-transform: uppercase;
  line-height: 0.9;
  text-align: left;
}

.secondary-color {
  color: $color-primary;
}

.content-title {
  font-size: 3rem;
}

.content-text {
  text-align: left;
  font-size: 2rem;
}

/*Priskort med köpknapp*/
.pricing-table {
  display: flex;
  justify-content: center;
  margin: auto;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.5rem;
  flex-wrap: wrap;
  background-color: black;
}

.col {
  flex: 33%;
  padding: 10px;
  max-width: 420px;
  margin-bottom: 6%;
  margin-right: 1%;
  margin-left: 1%;
}

.table {
  background: $color-primary-light;
  padding: 50px 20px 50px 20px;
  font-family: "Montserrat", sans-serif;
  position: relative;
  overflow: hidden;
  box-shadow: 15px 15px 0px -4px rgba(255, 255, 255, 0.486);
  border-radius: 20px;

  h2 {
    text-transform: uppercase;
    color: $color-primary-red;
  }

  ul {
    margin: 10%;
    padding: 0;
  }

  ul li {
    padding: 10px 0;
    list-style: none;
    color: black;
    margin-left: 25%;
    margin-bottom: 2%;
    text-align: left;

    .fas {
      color: $color-primary;
    }
  }

  .bigseller {
    background: $color-primary;
    color: $color-primary-light;
    transform: rotate(45deg);
    position: absolute;
    padding: 8px 38px;
    top: 16px;
    right: -36px;
  }

  .price {
    font-size: 6rem;
    margin-top: 10px;
    margin-bottom: 30px;
    font-family: Impact, sans-serif;
    color: #34403a;

    p {
      font-size: 2rem;
      color: $color-primary-dark;
    }

    span {
      display: block;
      font-size: 1rem;
      text-transform: lowercase;
    }
  }
}

@media screen and (max-width: 980px) {
  .col {
    flex: 50%;
  }
}

@media screen and (max-width: 700px) {
  .col {
    flex: 100%;
  }
}

/* Header tjänster */
#showcase {
  min-height: 600px;
  color: #fff;
  text-align: center;
  padding-bottom: 3rem;
}

#showcase .bg-image {
  position: absolute;
  background-image: url("images/laptop2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 600px;
  z-index: -1;
  opacity: 0.4;
}

#showcase .content-wrap-2,
#section-a .content-wrap-2 {
  border-radius: 20px;
  background-color: black;
  color: $color-primary-light;
}

/* Section A */
#section-a {
  background: black;
  color: black;
  padding-bottom: 1em;
}

.card-content {
  padding: 1.5em;
}

/* Section C */
#section-c {
  display: grid;
  grid-template-columns: 60% 30%;
  grid-column-gap: 5%;
  background: linear-gradient(rgba(0, 0, 0, 0.932), rgba(25, 204, 79, 0.74)),
    url(/Images/data.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: $color-primary-light;
  padding: 4%;
  font-size: 2rem;

  .analytics-text {
    border-radius: 20px;
    padding: 10% 5% 5% 5%;
    grid-column-start: 1;
    grid-column-end: 2;
    text-align: left;
    color: $color-primary-light;
    text-align: justify;
    text-align: justify;
    letter-spacing: 1.5px;
    line-height: 2;
    font-size: 2rem;
    background: $color-primary-dark;
    box-shadow: 23px 23px 26px 0px rgba(0, 0, 0, 1);

    h2 {
      color: $color-primary;
    }
  }

  .analyitics {
    background: $color-primary-light;
    border-radius: 20px;
    box-shadow: 23px 23px 26px 0px rgba(0, 0, 0, 1);
    padding: 2% 2% 2% 2%;
    display: grid;
    grid-template-columns: 45% 45%;
    grid-column-gap: 5%;
    align-content: center;

    .analyitics-left {
      align-content: center;

      h2 {
        color: $color-primary-dark;
        grid-column-start: 1;
        grid-column-end: 2;
        font-size: 5rem;
        margin-top: 0%;
      }

      h3 {
        color: $color-primary-dark;
        grid-column-start: 1;
        grid-column-end: 2;
        margin-bottom: -20%;
      }
    }

    .analyitics-right {
      align-content: center;
      h4 {
        color: $color-primary;
        grid-column-start: 2;
        grid-column-end: 3;
      }
      i {
        font-size: 15rem;
        color: $color-primary-dark;
        grid-column-start: 2;
        grid-column-end: 3;
      }
    }
  }
}

/* Section D / Boxes */

#section-d .box:first-child {
  border: 15px solid $color-primary-black;
  background: #929292;
  font-size: 4rem;
  background: linear-gradient(rgba(0, 0, 0, 0.918), rgba(129, 255, 91, 0.911)),
    url(/Images/laptop2.jpg);
  height: 80vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  .content-title {
    color: $color-primary;
  }
  ul {
    list-style: none;
    text-align: left;
    margin: 5% 0 10% 10%;

    li {
      color: $color-primary-light;
      margin-top: 6vh;
    }

    li i {
      color: $color-primary;
      border: 10px solid $color-primary-dark;
      border-radius: 10px;
      background-color: $color-primary-dark;
    }
  }
}
#section-d .box:last-child {
  border: 15px solid $color-primary-black;
  background: #929292;
  font-size: 4rem;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(253, 41, 69, 0.842)),
    url(/Images/laptop2.jpg);
  height: 80vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  .content-title {
    color: $color-primary-red;
  }

  ul {
    list-style: none;
    text-align: left;
    margin: 5% 0 10% 10%;

    li {
      color: $color-primary-light;
      margin-top: 6vh;
    }

    li i {
      color: $color-primary-red;
      border: 10px solid $color-primary-light;
      border-radius: 10px;
      background-color: $color-primary-light;
    }
  }
}

.content-wrap-2 {
  background: $color-primary-black;
  color: $color-primary-light;
  padding: 5em;
  h2 {
    text-transform: uppercase;
  }
  strong {
    color: $color-primary-red;
  }

  p {
    text-align: justify;
    text-align: justify;
    letter-spacing: 1px;
    line-height: 2;
  }
}

#main-footerr a {
  color: white;
  text-decoration: none;
}

/* Media Queries */
@media (min-width: 700px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr repeat(2, minmax(auto, 25em)) 1fr;
  }
  #section-a .content-text {
    columns: 2;
    column-gap: 2em;
  }
  #section-a .content-text p {
    padding-top: 0;
  }
  .content-wrap,
  #section-b ul {
    grid-column: 2/4;
  }
  .box,
  #main-footerr div {
    grid-column: span 2;
  }
  #section-b ul {
    display: flex;
    justify-content: space-around;
  }
}
// section-c
@media (max-width: 1000px) {
  #section-c {
    display: grid;
    grid-template-columns: 100%;
    grid-row-gap: 2%;
  }

  .content-wrap-1 {
    box-shadow: none;
    margin-right: 0%;
  }
}
