.servicesidan-bg {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(/Images/bakgrund.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  height: 100vh;
}

.content-wrap-1 {
  height: 100vh;
  padding-top: 10%;
  color: #fff;
  font-size: 3rem;
  line-height: 1.6;
  text-align: left;
  background-color: rgba(0, 0, 0, 0.699);
  box-shadow: 23px 23px 26px 0px rgba(0, 0, 0, 1);
  padding-bottom: 10vh;
  padding-left: 10%;
  margin-right: 60%;

  h3 ins {
    color: $color-primary;
  }

  ul li strong {
    color: $color-primary;
  }
}

.headline {
  font-family: "Roboto", sans-serif;
  font-size: 6rem;
  text-transform: uppercase;
  line-height: 0.9;
  text-align: left;
}

.secondary-color {
  color: $color-primary;
}

h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}

.content-title {
  font-size: 3rem;
}

.content-text {
  text-align: left;
  font-size: 2rem;
}

/*Priskort med köpknapp*/
.pricing-table {
  display: flex;
  justify-content: center;
  margin: auto;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.5rem;
  flex-wrap: wrap;
  background-color: black;
}

.col {
  flex: 33%;
  padding: 10px;
  max-width: 420px;
  margin-bottom: 6%;
  margin-right: 1%;
  margin-left: 1%;
}

.table {
  background: $color-primary-light;

  padding: 50px 20px 50px 20px;
  font-family: "Montserrat", sans-serif;
  position: relative;
  overflow: hidden;
  box-shadow: 15px 15px 0px -4px rgba(49, 49, 49, 0.486);
  border-radius: 20px;
}

.table h2 {
  text-transform: uppercase;
  color: $color-primary-red;
}

.price span h3 {
  font-size: 1.5rem;
  color: $color-primary-dark;
}

.table ul {
  margin: 0;
  padding: 0;
}

.table ul li {
  padding: 10px 0;
  list-style: none;
  color: black;
  margin-left: 30%;
  margin-bottom: 2%;
  text-align: left;
}

.price {
  font-size: 6rem;
  margin-top: 10px;
  margin-bottom: 30px;
  font-family: Impact, sans-serif;
  color: #34403a;
}

.price span {
  display: block;
  font-size: 1rem;
  text-transform: lowercase;
}

.table a {
  text-decoration: none;
  display: block;
  color: #2c3e50;
  border: 2px solid #00c900;
  padding: 10px 0;
  margin: 10px 0;
  text-transform: uppercase;
  font-size: 1.2rem;
  transition: 0.5s linear;
  border-radius: 25px;
}

.fas {
  color: #00c900;
}

.table a:hover {
  background: $color-primary;
  color: #fff;
}

.bigseller {
  background: $color-primary;
  color: $color-primary-light;
  transform: rotate(45deg);
  position: absolute;
  padding: 8px 38px;
  top: 16px;
  right: -36px;
}

/*Rutor till övriga tjänster*/
.serviceboxes {
  display: grid;
  grid-gap: 50px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: auto;
  padding: 3rem;
}

.servicebox {
  display: grid;
  grid-template-columns: 100px auto;
  grid-template-rows: 20px 60px;
  background: $color-primary-dark;
  height: 100px;
  text-align: center;
  font-size: 1.5rem;
  border-radius: 20px;
  color: rgb(163, 163, 163);
  padding: 1.2rem 2rem;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
}

.servicebox i {
  color: $color-primary-black;
}

@media screen and (max-width: 980px) {
  .col {
    flex: 50%;
  }
}

@media screen and (max-width: 700px) {
  .col {
    flex: 100%;
  }
}

img {
  display: block;
  width: 100%;
  height: auto;
}

h1,
h2,
h3 {
  margin: 0;
  padding: 1em 0;
}

p {
  margin: 0;
  padding: 1em 0;
}

/* Header tjänster */
#showcase {
  min-height: 600px;
  color: #fff;
  text-align: center;
  padding-bottom: 3rem;
}

#showcase .bg-image {
  position: absolute;
  background-image: url("images/laptop2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 600px;
  z-index: -1;
  opacity: 0.4;
}

#showcase .content-wrap-2,
#section-a .content-wrap-2 {
  border-radius: 20px;
  background-color: black;
  color: $color-primary-light;
}

/* Section A */
#section-a {
  background: black;
  color: black;
  padding-bottom: 1em;
}

.card-content {
  padding: 1.5em;
}

/* Section C */
#section-c {
  display: grid;
  grid-template-columns: 60% 30%;
  grid-column-gap: 5%;
  background: linear-gradient(rgba(0, 0, 0, 0.932), rgba(25, 204, 79, 0.74)),
    url(/Images/data.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: $color-primary-light;
  padding: 4%;
  font-size: 2rem;

  .analytics-text {
    border-radius: 20px;
    padding: 10% 5% 5% 5%;
    grid-column-start: 1;
    grid-column-end: 2;
    text-align: left;
    color: $color-primary-light;
    font-size: 2rem;
    background: $color-primary-dark;
    box-shadow: 23px 23px 26px 0px rgba(0, 0, 0, 1);

    h2 {
      color: $color-primary;
    }
  }

  .analyitics {
    background: $color-primary-light;
    border-radius: 20px;
    box-shadow: 23px 23px 26px 0px rgba(0, 0, 0, 1);
    padding: 2% 2% 2% 2%;
    display: grid;
    grid-template-columns: 45% 45%;
    grid-column-gap: 5%;
    align-content: center;

    .analyitics-left {
      align-content: center;

      h2 {
        color: $color-primary-dark;
        grid-column-start: 1;
        grid-column-end: 2;
        font-size: 5rem;
        margin-top: 0%;
      }

      h3 {
        color: $color-primary-dark;
        grid-column-start: 1;
        grid-column-end: 2;
        margin-bottom: -20%;
      }
    }

    .analyitics-right {
      align-content: center;
      h4 {
        color: $color-primary;
        grid-column-start: 2;
        grid-column-end: 3;
      }
      i {
        font-size: 15rem;
        color: $color-primary-dark;
        grid-column-start: 2;
        grid-column-end: 3;
      }
    }
  }
}

/* Section D / Boxes */
#section-d .box {
  padding: 2em;
  color: #fff;
}

#section-d .box:first-child {
  border: 15px solid $color-primary-dark;
  background: #929292;
  font-size: 2rem;
  background: linear-gradient(rgba(0, 0, 0, 0.801), rgba(0, 0, 0, 0.637)),
    url(/Images/laptop2.jpg);
  height: 80vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  ul {
    text-align: left;
    p{
      font-size: 10rem;
    }
  }

  h2 {
    color: $color-primary;
}


#section-d .box:last-child {
  border: 15px solid $color-primary-black;
  background: #929292;
  font-size: 2rem;
  background: linear-gradient(rgba(0, 0, 0, 0.801), rgba(0, 0, 0, 0.637)),
    url(/Images/laptop.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  ul {
    text-align: left;
  }
}

#section-d .box:last-child h2 {
  color: $color-primary;
}

.content-wrap-2 {
  background: #fff;
  color: #333;
  padding: 5em;
}

#main-footerr a {
  color: white;
  text-decoration: none;
}

/* Media Queries */
@media (min-width: 700px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr repeat(2, minmax(auto, 25em)) 1fr;
  }
  #section-a .content-text {
    columns: 2;
    column-gap: 2em;
  }
  #section-a .content-text p {
    padding-top: 0;
  }
  .content-wrap,
  #section-b ul {
    grid-column: 2/4;
  }
  .box,
  #main-footerr div {
    grid-column: span 2;
  }
  #section-b ul {
    display: flex;
    justify-content: space-around;
  }
}
// section-c
@media (max-width: 1000px) {
  #section-c {
    display: grid;
    grid-template-columns: 100%;
    grid-row-gap: 2%;
  }
}

/* Beställningsinfo kassasidan*/
.kassa-container {
  width: 100%;
  display: grid;
  grid-template-rows: auto 200px auto auto auto;
  grid-template-columns: minmax(160px 160px 160px auto);
  grid-gap: 20px;
  background-color: rgb(212, 247, 160);
  padding: 30px;
  height: 150vh;
  margin-top: 70px;

  grid-template-areas:
    "order order order side"
    "offer-1 offer-2 offer-3 side"
    "offerings offerings offerings side"
    "offerings offerings offerings side"
    "foot foot foot side";
}

.orderbox {
  grid-area: order;
  grid-template-columns: 150px auto 100px;
  background-color: rgb(233, 174, 13);
  color: black;
  padding: 10px;
  min-height: 200px;
}

.orderlist {
  grid-area: order;
  color: black;
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
}

.pricebar {
  grid-area: side;
  background-color: rgba(5, 114, 2, 0.678);
  padding: 10px;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
}

.offerbox-1 {
  grid-area: offer-1;
  background-color: #00c900;
  padding: 10px;
  min-height: 160;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
  line-height: 0.7;
  text-transform: uppercase;
}
.offerbox-2 {
  grid-area: offer-2;
  background-color: rgba(205, 247, 204, 0.89);
  padding: 10px;
  min-height: 160;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
  line-height: 0.7;
  text-transform: uppercase;
}
.offerbox-3 {
  grid-area: offer-3;
  background-color: #00c900;
  padding: 10px;
  min-height: 160;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
  line-height: 0.7;
  text-transform: uppercase;
}
.offerbox i {
  color: #8eee8e;
}

.offerbox-1:hover {
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -o-transform: scale(1.05);
  -ms-transform: scale(1.05);
  background-color: rgba(205, 247, 204, 0.89);
}

.offerbox-2:hover {
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -o-transform: scale(1.05);
  -ms-transform: scale(1.05);
  background-color: #555455;
}
.offerbox-3:hover {
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -o-transform: scale(1.05);
  -ms-transform: scale(1.05);
  background-color: rgba(205, 247, 204, 0.89);
}

.delete-order-btn {
  text-decoration: none;
  display: block;
  background-color: black;
  color: white;
  padding: 10px 0;
  margin: auto;
  text-transform: uppercase;
  font-size: 0.7rem;
  transition: 0.5s linear;
  width: 30%;
  cursor: pointer;
}

.offer-price {
  font-size: 1.5rem;
  align-content: center;
  font-family: Impact, sans-serif;
  color: #787e7b;
}
.offer-pg {
  font-size: 1rem;
  align-content: center;
  color: black;
  text-transform: uppercase;
}

.kassaorder {
  list-style: none;
  color: black;
}

/*Rutor för att kryssa i extratjänster*/
.offerings {
  grid-area: offerings;
  display: grid;
  grid-template-rows: 50px 50px 50px;
  background-color: rgba(187, 248, 187, 0.89);
  padding: 10px;
  border-radius: 4px;
  font-size: 1.3rem;
}
.offerings-rows {
  grid-gap: 10px;
  background-color: rgb(190, 190, 190);
  border-radius: 3px;
  justify-content: right;
  padding: 5px;
}
