// Sass Variables

//colors
// 5 primary colors
// Lime-green. Matches with the logo, used for buttons and details.
$color-primary: #00c900;
// dark-green, used for darker parts, section-background, footer etc.
$color-primary-dark: #34403a;
// almost black, used for text.
$color-primary-black: #1a181b;
// red used for buttons and details.
$color-primary-red: #f21b3f;
// used for text, backgrounds and details.
$color-primary-light: #e8e8e8;

//extra
$color-grey-shadow: rgba(0, 0, 0, 0.5);
